<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.APP_BROWSER" />
        </intent>
        <package android:name="com.twitter.android" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twidget">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".AnalyticsImportActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".NoticesActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".ScheduleActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SettingsScheduleActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".SettingsAdvancedActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".SettingsDebugActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <activity
            android:name=".DebugBridgeLogActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.update_files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>

        <receiver
            android:name=".TwidgetWidget"
            android:exported="true"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_blur" />
            <meta-data
                android:name="com.sec.android.appwidget.widgetinfo"
                android:resource="@xml/widget_supported_cell_size_info" />
            <meta-data
                android:name="android.appwidget.provider.semConfigureActivity"
                android:value="com.tjg.twidget.WidgetConfigActivity" />
        </receiver>

        <receiver
            android:name=".WidgetRefreshReceiver"
            android:exported="false" />

        <receiver
            android:name=".ScheduleReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".ScheduleBootReceiver"
            android:directBootAware="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".LockScreenFollowerServiceBoxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.REQUEST_SERVICEBOX_REMOTEVIEWS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".LockScreenFollowerSmallWidget"
            android:exported="true"
            android:label="@string/lockscreen_follower_1x1_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lockscreen_message_1x1_widget_info" />
            <meta-data
                android:name="samsung.appwidget.monotone.info"
                android:resource="@xml/lockscreen_message_1x1_widget_info_oneui" />
            <meta-data
                android:name="android.appwidget.provider.semConfigureActivity"
                android:value="com.tjg.twidget.WidgetConfigActivity" />
        </receiver>

        <receiver
            android:name=".LockScreenFollowerWideWidget"
            android:exported="true"
            android:label="@string/lockscreen_follower_2x1_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lockscreen_message_2x1_widget_info" />
            <meta-data
                android:name="samsung.appwidget.monotone.info"
                android:resource="@xml/lockscreen_message_2x1_widget_info_oneui" />
            <meta-data
                android:name="android.appwidget.provider.semConfigureActivity"
                android:value="com.tjg.twidget.WidgetConfigActivity" />
        </receiver>

    </application>
</manifest>
