<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlurWidgetDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <activity android:name="androidx.picker.eyeDropper.SeslEyeDropperActivity" />

        <receiver
            android:name=".BlurWidget"
            android:exported="true"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_blur" />
            <meta-data
                android:name="com.sec.android.appwidget.widgetinfo"
                android:resource="@xml/widget_supported_cell_size_info" />
        </receiver>

        <receiver
            android:name=".LockScreenMessageServiceBoxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.REQUEST_SERVICEBOX_REMOTEVIEWS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".LockScreenMessageSmallWidget"
            android:exported="true"
            android:label="@string/lockscreen_message_1x1_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lockscreen_message_1x1_widget_info" />
            <meta-data
                android:name="samsung.appwidget.monotone.info"
                android:resource="@xml/lockscreen_message_1x1_widget_info_oneui" />
        </receiver>

        <receiver
            android:name=".LockScreenMessageWideWidget"
            android:exported="true"
            android:label="@string/lockscreen_message_2x1_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lockscreen_message_2x1_widget_info" />
            <meta-data
                android:name="samsung.appwidget.monotone.info"
                android:resource="@xml/lockscreen_message_2x1_widget_info_oneui" />
        </receiver>

    </application>
</manifest>
